@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
    font-family: Open Sans !important;
}


html {
    min-height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100%;
}

#hero_div {
    width: 100%;
    height: 80px;
    /*box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.4);*/
    vertical-align: middle;
}

#hero_title {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 45px;
    text-align: left;
    display: inline;
    margin-right: auto;
}

#search_container {
    margin:auto;
    padding-top: 12px;
    width: 270px;
}

#location_search {
    background-color: darkgray;
    margin-right: 0;
    margin-left: 0;
    border-radius: 10px;
    height: 35px;
    width: 250px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#chartContainer {
    display: block;
}

.rows {
    margin-top: 40px;
    height: 190px;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll !important;
}

.row {
    width: 90px;
    background-color:rgba(88, 153, 153, 0.4);
    height: 190px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.4);    
}

.inner {
    width:max-content;
    height: 190px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    margin-left: auto;
    margin-right: auto;
}

.row > {
    display: inline;
    width: 100%;
}

#today {
    display: block;
}

#tomorrow {
    display: none;
}

#next_days {
    display: none;
}

.hour_temp {
    height: 30px;
    text-align: center;
    margin-top: 10px;
}

.hour_time {
    height: 30px;
    margin-top: auto;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#time_options {
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -130px;
    text-align: center;
    height: 190px;
    box-sizing: border-box;
}

.time_option {
    padding: 10px;
    height: 190px;
    margin-top: 1000px;
    margin-left: 9px;
    margin-right: 9px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
    border:darkgray 1px solid;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 90px;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}

.selected {
    background-color: rgba(60, 220, 70, 0.2);
}

.table_icons {
    width: 50px;
}

#location {

}

.weather_icon {
    height: 50px;
    width: 100%;
    margin-top:30px;
    margin-bottom:30px;
}

@media only screen and (max-width:1000px) {
    /* For mobile phones: */
    #hero_div {
    }
    
    #time_options {
    }

    .time_option {
    }
}