* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    margin: 0px;
    min-height: 100vh;
}

#hero_div {
    background-color: lightgray;
    width: 100%;
    height: auto;
}

#hero_title {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 60px;
    text-align: center;
}

#details {
    height: 30vh;
    background-color: darkgray;
    margin-bottom: 5vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
}

.selected_card {
    background-color: darkseagreen !important;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.132), 0 0px 0px 0 rgba(0,0,0,.108) !important;
}

.day_card {
    background-color: lightgray;
    width: 15vw;
    height: 350px;
    margin-left: 4vw;
    margin-bottom: 40px;
    display: inline-block;
    vertical-align: top;
}

.days_row{
    overflow-x: auto;
    width: 90vw;
}


#time_options {
    width: fit-content;
    max-width: 300px;
    height: 50px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.time_option {
    border:darkgray 1px solid;
    border-radius: 10px;
    padding: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.4);
    background-color: whitesmoke;
    margin-left: 5px;
    margin-right: 5px;
}

#location {

}