:root {
    --clr-background: hsl(60, 67%, 98%);
    --clr-text: hsl(105, 8%, 10%);
    --clr-primary: hsl(101, 54%, 27%);
    --clr-on-primary: hsl(0, 0%, 100%);
    --clr-container-primary: hsl(99, 79%, 77%);
    --clr-container-on-primary: hsl(113, 100%, 6%);
    --clr-secondary: hsl(95, 13%, 34%);
    --clr-on-secondary: hsl(0, 0%, 100%);
    --clr-container-secondary: hsl(90, 37%, 85%);
    --clr-container-on-secondary: hsl(100, 41%, 9%);
}